/*

Web Application Library
-------------------------------------------------------------------------------------
This stylesheet contains interface patterns which are consistent through most web applications

*/


/*------------------------------------------------------------------------
=buttons
------------------------------------------------------------------------*/
/*---------STYLES FOR BUTTONS----------*/
/* Demo: particletree.com/features/rediscovering_the_button_element */
/*
<button type="submit" class="button positive">
<img src="css/blueprint/plugins/buttons/icons/tick.png" alt=""/> Save
</button>

<a class="button" href="/password/reset/">
<img src="css/blueprint/plugins/buttons/icons/key.png" alt=""/> Change Password
</a>

<a href="#" class="button negative">
<img src="css/blueprint/plugins/buttons/icons/cross.png" alt=""/> Cancel
</a>
*/

a.button, button {
  display: inline-block;
  float: left;
  margin: 0 0.583em 0.667em 0;
  padding: 5px 10px 5px 7px; /* Links */
  border:1px solid #dedede;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  background-color: #f5f5f5;
  font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
  font-size: 100%;
  line-height: 130%;
  text-decoration: none;
  font-weight: bold;
  color: #565656;
  cursor: pointer;
}
button {
  width: auto;
  overflow: visible;
  padding: 4px 10px 3px 7px; /* IE6 */
}
button[type] {
  padding: 4px 10px 4px 7px; /* Firefox */
  line-height:17px; /* Safari */
}

*:first-child+html .container button[type] {
  padding: 4px 10px 3px 7px; /* IE7 */
}

.container button img, .container a.button img {
  margin: 0 3px -3px 0 !important;
  padding: 0;
  border: none;
  width: 16px;
  height: 16px;
  float: none;
}

/* Standard Buttons */
button:hover, a.button:hover {
  background-color: #dff4ff;
  border: 1px solid #c2e1ef;
  color: #336699;
}
a.button:active, button:active {
  background-color: #6299c5;
  border: 1px solid #6299c5;
  color: #fff;
}

/* Positive */
body .positive {
  color: #529214;
}
a.positive:hover, button.positive:hover {
  background-color: #E6EFC2;
  border: 1px solid #C6D880;
  color: #529214;
}
a.positive:active, button.positive:active {
  background-color: #529214;
  border: 1px solid #529214;
  color: #fff;
}

/* Negative */
body .negative {
  color: #d12f19;
}
a.negative:hover, button.negative:hover {
  background: #fbe3e4;
  border: 1px solid #fbc2c4;
  color: #d12f19;
}
a.negative:active, button.negative:active {
  background-color: #d12f19;
  border: 1px solid #d12f19;
  color: #fff;
}

/*------------------------------------------------------------------------
=nav > dividers
------------------------------------------------------------------------*/
ul.horizontal.dividers {
  margin-bottom: 18px;
}

ul.horizontal.dividers li {
  border-left: 1px solid #999;
}

ul.horizontal.dividers li.first {
  border: none;
  margin-left: 0;
  padding-left: 0;
}

/* space without divider */

ul.horizontal.dividers li.space {
  border-left: none;
  margin-left: 0;
}


/*----------------------------------------------------------------------------------
=flash messages (via blueprint)
----------------------------------------------------------------------------------*/
#flash_message .error, 
#flash_message .notice, 
#flash_message .message {
  padding: .8em;
  margin-bottom: 1.6em;
  border: 2px solid #ddd;
}

#flash_message .error {
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}

#flash_message .notice {
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}

#flash_message .message {
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}

#flash_message .error a {
  color: #8a1f11;
  background: none;
  padding: 0;
  margin: 0;
}

#flash_message .notice a {
  color: #514721;
  background: none;
  padding: 0;
  margin: 0;
}

#flash_message .message a {
  color: #264409;
  background: none;
  padding: 0;
  margin: 0;
}


/*------------------------------------------------------------------------
=horizontal list (basis of most navigation schemes)
------------------------------------------------------------------------*/
ul.horizontal {
  list-style: none;
  overflow: hidden;
}

ul.horizontal li {
  float: left;
}

ul.horizontal.right {
  float: right;
}

body ul.horizontal li.first {
  margin-left: 0;
}

/*------------------------------------------------------------------------
=nav > tabbed
------------------------------------------------------------------------*/
ul.horizontal.tabbed {
  border-bottom: 1px solid #ccc;
  clear: both;
  margin-bottom: 18px;
}

ul.horizontal.tabbed li {
  font-weight: bold;
  line-height: 36px;
  text-align: center;
}

ul.horizontal.tabbed li a {
  background: #ddd;
  border-bottom: none;
  display: block;
  margin-right: 2px;
  padding: 0 9px;
  text-decoration: none;
}

ul.horizontal.tabbed li a.active {
  background: #eee;
}

/*ul.tabbed li span.inactive {
  background: #ddd;
  color: #bbb;
  display: block;
  margin-right: 1px;
  padding: 9px;
}*/

/*------------------------------------------------------------------------
=nav > tabbed > bar
------------------------------------------------------------------------*/

/* Adds background color and spacing to tabbed nav. Use this in conjunction with with tabbed nav */

ul.horizontal.tabbed.bar {
  background: #aaa;
  border-bottom: none;
  padding: 18px 0 0;
  border-top: 1px solid #eee;
}

ul.horizontal.tabbed.bar li a {
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
  border-top: 2px solid #ccc;
}

ul.horizontal.tabbed.bar li a.active {
  background: #fff;
}

/* Use for non-navigation element inline with tabbed nav */

ul.horizontal.tabbed li.non_nav {
  color: #666;
  font-weight: normal;
  padding: 0;
  text-align: left;
}

/*------------------------------------------------------------------------
=pagination (REFACTOR)
------------------------------------------------------------------------*/

.pagination_wrap {
  background: #777;
  color: #fff;
  position: relative;
  clear: left;
  height: 35px;
}

.pagination_wrap span.record_count {
  float: none;
  line-height: 35px;
  padding-left: 10px;
}

/* for pagination at the top of a list */

.pagination_wrap.top {
  margin-bottom: 18px;
}

/* for pagination at the bottom of a list */

.pagination_wrap.bottom {
  margin: 9px 0 18px;
}

/* end */
  
.pagination a, 
.pagination span {
  background: #fff;
  display: block;
  float: left;
  margin: 9px 4px 9px 0;
  padding: .2em .5em;
}

.pagination span.disabled {
  color: #999;
}
  
.pagination span.current {
  background: #333;
  color: #fff;
  font-weight: bold;
}

.pagination a {
  color: #105cb6;
  text-decoration: none;
}

.pagination a:hover,
.pagination a:focus {
  border-color: #003;
  color: #003;
}

.pagination .page_info {
  background: #2e6ab1;
  color: #fff;
  margin-bottom: .3em;
  padding: .4em .6em;
  text-align: center;
  width: 22em;
}

.pagination .page_info b {
  background: #6aa6ed;
  color: #003;
  padding: .1em .25em;
}

/*------------------------------------------------------------------------
=table
------------------------------------------------------------------------*/

table {
  border-bottom: 1px solid #999;
  clear: both;
  width: 100%;
  font-family: "Tahoma", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

table tr.even td {
  background: #eee;
}

table tr th {
  font-size: 11px;
  padding: 4px;
  text-align: left;
  vertical-align: bottom;
}

table tr th[scope="row"] {
  background: #fff;
  border-bottom: 1px solid #ccc;
}

table tr th span {
  color: #666;
  display: block;
}

table tr th a:hover {
  text-decoration: underline;
}

table tr td.first {
  border-left: none;
}

table tr th.actions {
  background: #666;
  color: #fff;
}

table tr td {
  border-bottom: 1px dotted #aaa;
  border-left: 1px dotted #aaa;
  padding: 4px;
  vertical-align: middle;
  white-space: nowrap;
}

table tr.even td.hover {
  background: #cedeff;
}

td.hover, 
tr.hover {
	background: #cedeff;
}