/*
Project:        Project Name
Last Changed:   isoD (in textmate, "isoD" + TAB will insert current date)
                http://planetargon.com
/*##################################################################################
  =table of contents
  ##################################################################################

	1.	colors
	2.	stylesheet imports
	  A. global reset
	  B. grid framework
	  C. typography
	3.	general styles
  4.  helper styles
  5.  layout structure
  6.  view components
  7.  overrides

####################################################################################
=1) colors
####################################################################################

	(example)
	Green:			#a5c941			Red:			#ff3700
	Med Green:		#769926			Med Red:		#e33100
	Drk Green:		#91ad52			Drk Red:		#872300
	Blue:			#73cacf			Orange:			#ff6908
	Med Blue:		#2daebf			Med Orange:		#ff5c00
	Drk Blue:		#007d9a			Drk Orange:		#d45500
	Magenta:		#c9025c			Yellow:			#ffb515
	Med Magenta:	#a9014b			Med Yellow:		#fc9200
	Drk Magenta:	#630030			Drk Yellow:		#d17200


*/

/*##################################################################################
=2) stylesheet imports
##################################################################################*/

  @import url('/stylesheets/mortar/reset.css'); /* global reset */
  @import url('/stylesheets/mortar/grid.css'); /* grid framework */
  @import url('/stylesheets/mortar/text.css'); /* typography */


/*##################################################################################
=3) general styles
##################################################################################*/

/* body styles, links headings, other elements, tags go here. */

/*----------------------------------------------------------------------------------
=body
----------------------------------------------------------------------------------*/
body {
  background: #fff;
  color: #000;
  font: 1.3em/2em Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
}

/*----------------------------------------------------------------------------------
=links
----------------------------------------------------------------------------------*/

/*a:focus {
  outline: 1px dotted invert;
}*/

a {
}

a:link {
}

a:visited {
}

a:hover {
}

a:active {
}


/*----------------------------------------------------------------------------------
=HTML tags
----------------------------------------------------------------------------------*/
hr {
  border-color: #ccc;
  border-style: solid;
  border-width: 1px 0 0;
  clear: both;
  height: 0
}

small {
}

/*----------------------------------------------------------------------------------
=clear fix
----------------------------------------------------------------------------------*/

.clear:after {
	clear: both;
	content: '.';
	display: block;
	visibility: hidden;
	height: 0;
}

.clear {
	display: inline-block;
}

* html .clear {
	height: 1%;
}

.clear {
	display: block;
}


/*##################################################################################
=4) helper styles
##################################################################################*/

/* forms, cosistent items with just one class go here */


/*----------------------------------------------------------------------------------
=form tags
----------------------------------------------------------------------------------*/

fieldset {

}

label {

}

label input {
  border: 1px solid #ccc;
  display: block;
  margin-bottom: 14px;
  font-size: 16px;
  padding: 5px 5px 4px 5px;
  width: 300px;
}

label span {
  font-weight: normal;
}

input[type="hidden"] {
  border: none;
}

input[type="checkbox"] {
  margin: 0 4px 0 0;
  position: relative;
  width: 15px;
  height: 15px;
  border: 1px solid #ccc;
}

label.checkbox input {
  border: none;
  display: inline;
  position: relative;
}

label.checkbox span {
  display: block;
  left: 10px;
  margin-left: 18px;
  position: relative;
  top: -14px;
}
  
textarea {
  border: 1px solid #ccc;
  display: block;
  height: 90px;
  width: 380px;
  margin-bottom: 14px;
  padding: 5px 5px 4px 5px;
}


/* =form classes */
.form_submit {
  margin: 0;
  padding: 10px;
  clear: both;
  background: #333;
}


/*##################################################################################
=5) layout structure
##################################################################################*/

/* skeleton and page furniture goes here */



/*##################################################################################
=6) view components
##################################################################################*/

/* view components that are used globally go here */



/*##################################################################################
=7) overrides
##################################################################################*/

/* Everything that is "one-off" will go here. The goal is using this area as a last resort, any patterns or reusable CSS should not go here */

